@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	font-family: 'Open Sans'; 
	font-size: 16px;
    background-color:#F1E6E6;
    /*background-image: url('../images/background1.jpg');*/
    margin:20px;
}
li{
	text-decoration: none;
	color: #000000;
  margin: 12px;
}

a:visited {
	color:#0000FF;
}
a:hover {
	color:#FF0000;
}

a:focus {
	color:#FF0000;
}
p {
  margin: 5px 2px 5px 2px;
}
h1{
  color:green;
  margin: 25px 2px 25px 2px;
  text-align:center;
  font-size: 25px;
}

h2 {
  font-size: 25px;
	font-weight:bold;
}
h3 {
  font-size: 20px;
  color:#2C0398;
  font-weight:bold;
}

/*
a.current {
	background-color: #76D7C4;
	border: 2px solid #0A5B4B;
	padding: 0px;
	margin: 5px 0px 5px 0px;
	color:#800080;
	font-weight: bold;
	text-transform: uppercase;
}
*/

a.content {
}

figure figcaption {
	color: #0A5B4B;
}

nav ul li{
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
}

a.skip {
    left:-2000px;
    position: relative;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
a.skip:focus, a.skip:active {
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    padding:5px;
    font-size:1.2em;
}      

.container img{
	width:350px;
}

ul.tracks {
  list-style-type: square;
}

/* Carousel 
/* Slideshow container */
.slideshow-container{
  max-width:700px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: -47px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/*Captions for images*/

figcaption {
    margin: 10px 0 0 0;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    color: #bb3333;
}
figure {
    padding: 5px;
}

.hover img:hover {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 25px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.mySlides img {
  width: 100%;
} 

.item img{
	height: 65vh;
	margin:0 auto;
}

.images img{
	width:50%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

footer {
	min-height: 4vh;
	background:#F1E6E6;
	margin: 50px 0px 0px 0px;
	font-size: 14px;
}
.container {
  display:grid;
  grid-template-columns: auto auto auto; 

}
@media only screen and (min-width: 320px) {
    .container {
      grid-template-columns: 1fr;
  }

    h1{ 
      font-size:25px;
    }
}
@media only screen and (min-width: 660px) {
    .container {
      grid-template-columns: 1fr 1fr;
  }
    h1{ 
      font-size: 30px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
      grid-template-columns: 1fr 1fr 1fr;
  }
    h1{ 
      font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
    ul li {
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    h3 {
      text-align: center;
    }
}

/*flipcard css*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  position: relative;
  margin: 0 auto ;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 20px 0px 0px 0px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}
.flip-card-front img {
  width: 300px;
  height:400px;
}

.flip-card-back img {
  width: 300px;
  height:400px;
}
/* Callout Message css*/
.callout {
  position: fixed;
  top: 200px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-header {
  padding: 25px 15px;
  background: #969494;
  font-size: 30px;
  color: white;
  text-align: center;
  border: 7px groove #EC115E;
}

.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}

/* Javascript Accordian*/
.accordion {
  background-color: #2C0398;
  color: #eee;
  cursor: pointer;
  padding: 18px;
  margin: 10px 20px 0px 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
  color: #2C0398;
}

.panel {
  padding: 10px 40px;
  display: none;
  background-color: #F1E6E6;
  overflow: hidden;
}

/* Hamburger Icon Nav */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 11px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

#navbar .current {
  background-color: #76D7C4;
  color: #000000;
}

/*
Sticky navbar 

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#content {
  padding: 16px;
}
*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #content {
  padding-top: 60px;
}
