body{
    background-color:#FECC66;
}

li{
	text-decoration: none;
	color: #000000;
}

a:visited {
	color:#0000FF;
}
a:hover {
	color:#FF0000;
}

a:focus {
	color:#FF0000;
}

a.current {
	color:#800080;
	font-weight: bold;
}

a.content {
}

nav {
	display:block;
}